.Cockpit{
height:6vh;
background-color: #29235b;
color:white;
font-size: 13px;
 justify-content: center;
}

.Cockpit label {
    font-weight: bold;
}
.Header_Left{
    width: 20%;
    float: left;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.Header_Center{
    float: left;
    text-align: center;
    width: 65%;
   
}
.Header_Right{
    float: left;
    text-align: end;
    width: 5%;
    
}
.Header_Right img{
height: 35px;
cursor: pointer;
}
.Header_Right a{
    margin: 0 !important;
}

.Cockpit  a {
 display: inline-block;
 text-decoration: none;
 color: #cccc;
 font-weight: bold;
 text-transform: uppercase;
 margin: 10px;
 padding: 5px;
 }
 .Cockpit  a:hover {
 color: white ;    
}

.Button{
    margin-top: 11px;
    height: 28px;
    width: 90px;
    background-color: rgb(255, 193, 78); 
    
    border:none;
    border-radius: 3px;
    font-weight: bold;
}
.ButtonLogin{   margin-right: 20px;}
.ButtonLogin:hover,
.ButtonSingUp:hover{
    
    background-color: rgb(255, 166, 0); 
   opacity: 95%;
}
